.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #0088a9;
}
nav {
}

.logo {
  padding-left: 15px;
  color: white;
}

.nav__links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav__links li {
  margin-right: 15px;
}

.nav__links a {
  text-decoration: none;
  color: white;
}
